html,
body {
  width: 100%;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

body {
  font-family: "Trebuchet MS", sans-serif;
}

:root {
  --color-background: #1e2225;
  --color-text: rgba(245, 248, 250, 0.87);
  --color-card-background: #292f33;
  --color-inner-card-background: #353c41;
  --color-nav-bar: #115c39;
  --light-mode: none;
  --dark-mode: inline-block;
  --border-color: #272d30;
}

.lightmode {
  --color-background: #f7f7f7;
  --color-text: rgba(0, 0, 0, 0.87);
  --color-card-background: #ffffff;
  --color-inner-card-background: #f7f7f7;
  --color-nav-bar: #28a745;
  --light-mode: inline-block;
  --dark-mode: none;
  --border-color: lightgrey;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
}
nav {
  background-color: var(--color-nav-bar);
}
.card {
  background-color: var(--color-card-background);
}
.modal-content {
  background-color: var(--color-card-background);
}
.light-mode {
  display: var(--light-mode);
}
.dark-mode {
  display: var(--dark-mode);
}
.alert-custom {
  background-color: var(--color-inner-card-background);
}

a:link {
  color: green;
}

a:visited {
  color: green;
}

a:hover {
  color: green;
}

@media screen and (max-width: 900px) {
  /* Mobile */
  body {
    height: auto;
  }
  .footer {
    border-top: 2px solid grey;
    position: absolute;
    bottom: 1;
  }
  #content {
    max-height: 75vh;
  }
  .twitter-feed {
    height: 75vh;
    width: 100%;
  }
}

@media screen and (min-width: 900px) {
  /* Not mobile */
  .flex-container {
    display: flex;
  }
  #main-content {
    max-height: 79vh;
  }
  .footer {
    display: grid;
    justify-content: center;
    border-top: 2px solid grey;
  }
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#content-sidebar {
  padding: 10px;
  flex: 0 1 450px;
  background-color: var(--color-card-background);
  border-color: var(--border-color) !important;
  overflow: auto;
}

#content {
  flex: 1;
  height: 78vh;
}

.twitter-feed {
  flex: 0 1 450px;
}

.flex-child:first-child {
  margin-right: 20px;
}

.wrapper {
  margin: auto;
  max-width: 100rem;
}

.card-body {
  overflow: auto;
}

.inline {
  display: inline-block;
}

.float-right {
  position: relative;
  float: right;
}

.inner {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.inner-top {
  display: inline-block;
  vertical-align: top;
  line-height: normal;
}

.padding-bottom {
  padding-bottom: 5px;
}

.padding-left {
  padding-left: 5px;
}

.padding-right {
  padding-right: 5px;
}

.padding-right-large {
  padding-right: 20px;
}

.hidden {
  position: absolute;
  left: -9999px;
}

#flex-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#flex-container-column {
  flex-direction: column;
}

.bottom {
  margin-top: auto;
}

.vertical-center-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.breakable {
  word-wrap: break-word;
  word-break: break-all;
}

input[type="checkbox"] {
  accent-color: green;
}

.modal-pre-auth {
  display: block;
}

.modal-post-auth {
  display: none;
}
